dash
dash_bootstrap_components
dash-mantine-components==0.12.1
dash_extensions==1.0.12
flask_login
sqlalchemy
taospy
pandas
pymysql
flask-sqlacodegen
flask_sqlalchemy
reportlab
xlwings
kaleido
psutil
openpyxl
gunicorn
gevent
cryptography
statsmodels
nbformat
flask-apscheduler
markupsafe
click
scikit-learn
matplotlib
ipykernel
dash_iconify
psycopg2-binary
PyPDF2
