dash
dash_bootstrap_components
dash-mantine-components
flask_login
sqlalchemy
taospy
pandas
pymysql
flask-sqlacodegen
flask_sqlalchemy
reportlab
xlwings
kaleido
psutil
openpyxl
gunicorn
gevent
cryptography
statsmodels
nbformat
flask-apscheduler
markupsafe
click
scikit-learn
matplotlib
ipykernel